body {
    min-height: 75rem;
    padding-top: 4.5rem;
}
h1 {
    color: red;
}

img.bookcover {
    height: 300px;
    width: auto;
}


a {
    color: #0060B6;
    text-decoration: none;
}

a:hover {
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}
